body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Dark\ Jungle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#0e4af080;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

#titulo{
    font-family: 'Bebas Neue', Fantasy;
    letter-spacing: 3px;
    font-weight: 600;
    color: #f6f5fc;
}

canvas {
    margin-bottom: 50px;
}

.footer-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-col .socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(23, 177, 31);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .socials a:hover{
    color: rgb(255, 255, 255);
    background-color: #022218;
}

@media(max-width: 800px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}